@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap');

@import './include/variables.scss';
@import './include/global.scss';
@import './include/typography.scss';
@import './include/color.scss';
@import './include/top-sale.scss';
@import './include/special-price.scss';
@import './include/new-phones.scss';


  .carousel-products{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .product-img{
      display: inline-block;
      max-width: 300px;
  }

  #filters{
      float: right;
  }

  #special-price{
    .grid .grid-item{
        margin-right: 1.2rem;
        margin-top: 1rem;
    }
}
