@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap');

@import './include/variables.scss';
@import './include/global.scss';
@import './include/typography.scss';
@import './include/color.scss';

.item-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -20%);
    color: white;
    padding: 20px;
    padding-left: 40px;
    

    .mobile{
        font-size: 25px;
    }
    h3{
        font-size: 70px;
    }
    .spec {
        font-size: 20px;
        width: 80%;
    }
    button{
        background-color: #00f0fe;
        color: white;
        outline: none;
        box-shadow: none;
        border: none;
        font-size: 23px;
        font-weight: 500;
        margin-top: 20px;
        max-width: 200px;
        padding: 15px 30px;
        transition: all 0.3s ease;

        &:hover{
            cursor: pointer;
            color:#00f0fe; ;
            background-color: white;
            
        }
    }
     
  }