.color-primary {
    color:$color-primary;
}
.color-primary-bg {
    background-color:$color-primary;
}
.color-second{
    color:$color-second;
}
.color-second-bg{
    background-color:$color-second;
}

.color-yellow{
    background-color:$color-yellow;
}



